{% extends '@CrosierLibBase/index.html.twig' %}


{% block page_content %}



    <div class="container-fluid">
        <div class="animated fadeIn">



        </div>
    </div>




{% endblock %}

{% block down_scripts %}

{% endblock %}